/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Global
 */
body {

  /* disable text highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* disable I-beam cursor over text */
  cursor: default;

  width: 1080px;
  height: 1920px;
  overflow: hidden;
  background: #000;

}

#wrapper {

  width: 1080px;
  height: 1920px;
  overflow: hidden;

  background: #303030;

}

.screen {

  width: 1080px;
  height: 1920px;
  overflow: hidden;

}

.container {
  position: absolute;
}

.content-left h1{
  padding: 0px;
  margin: 0px;
}
.content-left h3{
  padding: 0px;
  margin: 5px 0px;
}

.h-bar {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
}

.h-shadow-overlay{

  position: absolute;
  background: url("../img/h_shadow_bar.png") repeat-y ;
  height: 1372px;
  width:100%;
  pointer-events: none;

}

/* Buttons */
[data-role="button"] {
  cursor: pointer;
}


/*Fonts*/
p, h3, h2, h1, span {
  color: #fffdf3;
  font-weight: 200;
  font-family: 'futurats-lightregular', Helvetica, sans-serif;
}
h1 {
  font-size:  57px;
}
h3 {
  font-size:  25px;
}

p {
  font-size:  28px;
  line-height: 32px;
  letter-spacing: 1.2px;
}


/*Glyphs*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../css/fonts/glyphicons-halflings-regular.eot');
  src: url('../css/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../css/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../css/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-remove:before {
  content: "\e014";
}
.rotate-90-cw {
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rotate-90-ccw {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


/* Language Toggle */
#language_btn {

  position: fixed;
  text-align: center;

  width: 175px;
  height: 77px;

  bottom: 0px;
  right: 0px;

  z-index: 2;

}

/* Main Screen */
#screen_main {
  position: absolute;
}
#main_nav_grid {
  position:absolute;
  top: 7px;
  height: 1365px;
  width: 1080px;

  background: #222;
  box-shadow: 0px 3px 5px rgba(22,22,22,0.3);

}

.thumb,
.thumb p,
.thumb img,
.thumb div {
  position: absolute;
}
.thumb {
  width: 200px;
  height: 215px;
  background: gray;
}
.thumb p {
  text-align: center;
  bottom: -20px;
  width: 100%;
  font-family: 'futurats-mediumregular';
}
.thumb.row_1 {
  top: 0px;
}
.thumb.row_2 {
  top: 230px;
}
.thumb.row_3 {
  top: 460px;
}
.thumb.row_4 {
  top: 690px;
}
.thumb.row_5 {
  top: 920px;
}
.thumb.row_6 {
  top: 1150px;
}
.thumb.col_1 {
  left: 0px;
}
.thumb.col_2 {
  left: 220px;
}
.thumb.col_3 {
  left: 440px;
}
.thumb.col_4 {
  left: 660px;
}
.thumb.col_5 {
  left: 880px;
}

#screen_main .content-left{
  position: absolute;
  top: 1400px;
  padding: 50px 50px;
}

#screen_main .content-left p{
  width: 490px;
  margin-top: 93px;
  font-size: 20px;
}


/* Viewer Screen */
#screen_viewer {
  position: absolute;
  left: 1080px;
}

.viewer {
  width: 1080px;
  height: 1700px;
}

#screen_viewer #info_container {

  position: fixed;
  height: 320px;
  bottom: 220px;

  width: 450px;

  padding: 50px 75px 100px 75px;
  background: rgba(68,68,68,0.7);

}

#screen_viewer #scientific_name {
  font-style: italic;
}

#screen_viewer #info_container #hide_btn,
#screen_viewer #info_container #show_btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 18px;
  color: #ccc;
  font-size: 26px;

}

#screen_viewer #info_container #hide_btn:active,
#screen_viewer #info_container #show_btn:active {
   color: #dfdfdf;
}

#screen_viewer #controls_bar {

  bottom: 0px;
  position: fixed;
  background: #333;
  height: 170px;
  bottom: 0px;
  padding-bottom: 70px;

  box-shadow: 0px -3px 4px rgba(44,44,44,0.4);

}

#screen_viewer #view_selection {

  margin: 20px;
  margin-top: 0px;
  position: absolute;

}

#screen_viewer #view_selection [data-role="button"]:active {
  position: relative;
  top: 2px;
}

#screen_viewer #view_selection [data-role="button"]:hover {

  background: #4a4a4a;

}
#screen_viewer #view_selection [data-role="button"] {

}
#screen_viewer #view_selection [data-role="button"].onView {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border: 1px solid #fffdf3;
}
#screen_viewer #view_selection p {
  color: #dfded9;
}

#screen_viewer #view_selection div {

  float: left;
  background: #444;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  margin-top: 5px;

}

#screen_viewer #view_selection div h3 {
  padding: 0px;
  margin: 19px;
}

#screen_viewer #view_selection #viewer_screen_instructions {
  margin-bottom: 10px;
}

#screen_viewer #home_bar {

  position: fixed;
  height: 70px;
  bottom: 0px;
  text-align: center;
  background: #A75928;
  color: white;

}

#screen_viewer #home_bar span {

  font-size: 44px;
  margin-top: 11px;

}

#screen_viewer p {
  font-size: 20px;
}


/* Zoom/Pan Controls */
#photo_controls{

  position: absolute;

  /* - Control bar placement - */
  left: 928px;
  top: 20px;

  /* - Photo placement - */
  /*
  left: 930px;
  top: -186px;
  */

}

#photo_controls button {

  background: rgba(0,0,0,0.3);
  color: #fffdf3;
  padding: 7px;
  margin: 3px;
  border: none;

}
#snaptobtns{

  position: absolute;
  right: -200px;
  top: 200px;
  width: 350px;
  float: left;

}
#photo_controls button:hover {

  background: rgba(111,111,111,0.8);

}

 /* - Photo placement - */
/*
#pan_zoom {
  width: 100px;
}
#controls_svg g {
  fill: rgba(48,48,48,0.7);
  transition: .3s fill;
}
#controls_svg .icon{
  fill: #fffdf3;
}
#controls_svg g:hover {
  fill: rgba(0,0,0,0.65);
}
#controls_svg g:active {
  fill: rgba(0,0,0,.9);
}
#controls_svg button {
  margin: 5px
}
 */

/* - Control Bar placement - */
#pan_zoom {
  width: 79px;
}
#controls_svg g {
  fill: #444;
  transition: .3s fill;
}
#controls_svg .icon{
  fill: #dfded9;
}
#controls_svg g.off .icon{
  fill: #333;
}
#controls_svg g:hover {
  fill: #4a4a4a;
}
#controls_svg g:active {
  fill: #555;
}
#controls_svg button {
  margin: 5px
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
