<h1>Paintings</h1>

<ul class="block-grid five-up">
 {{#each model}}
 <li>
   <div>
     <img {{bind-attr src=thumbURL}} width="100" height="100" alt="Logo"><br>
     {{#link-to 'painting' this}}{{this.name}}{{/link-to}}
   </div>
 </li>
  {{/each}}
</ul>

{{outlet}}
